<div class="mt-4">
    <h4>Các bài đăng của tôi</h4>
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <div class="mt-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Mô tả</th>
                <th scope="col" colspan="2">Ngày tạo</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                    <tr>
                    <th scope="row">{{sumIndex @index 1}}</th>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{createdAt}}</td>
                    <td><a href="/courses/{{_id}}/restore?_method=PATCH" class="btn btn-outline-primary">Khôi phục</a>
                        <a class="btn btn-outline-danger" data-bs-toggle="modal" data-id="{{_id}}" data-bs-target="#confirming-modal">Xóa vĩnh viễn</a>
                    </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="confirming-modal" tabindex="-1" aria-labelledby="confirmingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmingModalLabel">Xóa khóa học</h1>
        <button tabindex="-1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Xác nhận xóa khóa học này?
      </div>
      <div class="modal-footer">
        <button tabindex="-1" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button id="btn-delete" tabindex="-1" type="button" class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>

<script>
    let idCourse;
    const btnDelete = document.getElementById('btn-delete');
    document.addEventListener('DOMContentLoaded', function() {
        const confirmingModal = document.getElementById('confirming-modal');
        if (confirmingModal) {
            confirmingModal.removeEventListener('show.bs.modal', handleShowModal); 
            confirmingModal.addEventListener('show.bs.modal', handleShowModal);
        };
    });

    function handleShowModal(e) {
        const button = e.relatedTarget;
        idCourse = button.getAttribute('data-id');
    };

    btnDelete.addEventListener('click', async () => {
        try {
            await fetch(`/courses/${idCourse}`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json"
            }
        });
            return location.reload();
        } catch(err) {
            console.log(err);
        }
    });

</script>